name: Update Playlist

on:
  schedule:
    - cron: '0 */3 * * *'  # her 3 saatte bir
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests

      - name: Run playlist script
        run: python main.py

      - name: Upload playlist artifact
        uses: actions/upload-artifact@v4
        with:
          name: playlist
          path: playlist.m3u
